<ion-content [fullscreen]="true">
  <ion-grid *ngIf="account" class="container">

    <ion-row *ngIf="account.banner" class="banner-row">
      <ion-col>
        <div
        class="fill"
        [style.background-image]="'url(' + account.banner + ')'"
      ></div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-avatar class="profilepic">
          <img [src]="account.avatar" />
        </ion-avatar>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h1 class="name">{{account.display_name}}</h1>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div [innerHTML]="account.note"></div>
      </ion-col>
    </ion-row>

    <ion-row class="stats-row">
      <ion-col>
        <h2>{{account.numberOfPosts}}</h2>
        <p>Posts</p>
      </ion-col>

      <ion-col>
        <h2>{{account.numberOfFollowing}}</h2>
        <p>Following</p>
      </ion-col>

      <ion-col>
        <h2>{{account.numberOfFollowers}}</h2>
        <p>Followers</p>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="account.id">
      <ion-col>
        <app-posts mode="account" [user_id]="account.id"></app-posts>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
