<div class="wrapper">
  <ion-grid>
    <ion-row>
      <ion-col size="auto">
        <ion-avatar style="height: 30px; width: 30px; --border-radius: 50%">
          <img [src]="post.account.avatar">
        </ion-avatar>
      </ion-col>
      <ion-col>
        <p class="name">{{post.account.display_name}}</p>
        <p class="acct">{{post.account.acct}} • {{post.created_at | timeAgo}}</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col style="padding: 0;">
        <div class="postcontent" [innerHTML]=post.content></div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
