<div class="wrapper">
  <ion-grid>
    <ion-row>
      <ion-col size="auto">
        <ion-avatar style="height: 30px; width: 30px; --border-radius: 50%">
          <img [src]="post.account.avatar">
        </ion-avatar>
      </ion-col>
      <ion-col>
        <p class="name" (click)="openProfile(post.account.acct)">{{post.account.display_name}}</p>
        <p class="acct">{{post.account.acct}} • {{post.created_at | timeAgo}}</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col style="padding: 0;">
        <div class="postcontent" [innerHTML]=post.content></div>
      </ion-col>
    </ion-row>

    <ion-row class="interaction-row">

      <ion-col size="auto">
        <button type="button" class="btn-small btn-dark">
          <ion-icon name="repeat-outline"></ion-icon>
          <p>{{post.reblogs_count}}</p>
        </button>
      </ion-col>

      <ion-col size="auto">
        <button type="button" class="btn-small btn-dark">
          <ion-icon name="chatbubble-outline"></ion-icon>
          <p>{{post.replies_count}}</p>
        </button>
      </ion-col>

      <ion-col size="auto">
        <button type="button" class="btn-small btn-dark">
          <ion-icon name="heart-outline"></ion-icon>
          <p>{{post.favourites_count}}</p>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
